*{
    margin: none;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: black;
    margin: 0;
    text-align: center;
    color: white;
    font-weight: bold;
}