header{
	text-align:center;
}	

h1, h2{
	color:darkblue;
	text-align:center;
	font-family:arial;
}

nav{
	text-align:center;
}

#cars, p{
	text-align:center;
}

.card{
	display:inline-block;
	margin:10px;
	border:2px solid black;
}

img{
	height:200px;
	width:325px;
}

table{
	border:1px solid black;
	margin:10px auto;
}

td,th{
	border:1px solid black; 
}

input[type=text],select,label{
	width:300px;
	text-align:left!important;
	margin: 0 auto;
	display:block;
}

input[type=submit]{
	display:block;
	margin:0 auto;
	font-weight:bold;
}